.title {
  margin: 15px 0;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.3em;
  display: flex;
  justify-content: center;
}

.daily-item {
  /* border-radius: 10px; */
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
  /*  */
  background: rgb(69, 128, 189);
  background: radial-gradient(
    circle,
    rgba(69, 128, 189, 0.5214460784313726) 0%,
    rgba(121, 176, 190, 1) 100%
  );

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon-small {
  width: 40px;
}

.day {
  color: #fff;
  flex: 1 1;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  font-size: 15px;
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.min-max {
  font-size: 15px;
  color: #757575;
}

.daily-details-grid {
  margin: 0 5px;
  grid-row-gap: 0;
  grid-column-gap: 15px;
  row-gap: 0;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  background: rgb(69, 128, 189);
  background: radial-gradient(
    circle,
    rgba(69, 128, 189, 0.5214460784313726) 0%,
    rgba(97, 143, 156, 1) 100%
  );
}

.daily-details-grid-item {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #23242f;
  min-width: 100px;
}
.daily-details-grid-item label:last-child {
  color: #d5ebdb;
  min-width: 100px;
  margin-left: 10px;
}

@media screen and (max-width: 769px) {
  .animation-div {
    height: 1px;
  }
  label.title {
    display: none;
  }
  img.icon-small {
    width: 30px;
  }
  label.day {
    font-size: 16px;
  }
  label.description {
    flex: 2;
    font-size: 15px;
  }
  div.daily-item {
    padding: 0 8px 0 5px;
  }
  label.min-max {
    font-size: 13px;
  }
  div.daily-details-grid {
    padding: 0 5px;
    gap: 0;
  }
  div.daily-details-grid-item {
    height: 20px;
  }
  div.daily-details-grid label {
    font-size: 14px;
  }
}
