.weather {
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  margin: 20px auto 0 auto;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.first-container {
  flex: 1;
}
.second-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.last-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.city {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  margin: 10px 0;
  letter-spacing: 1px;
}
.weather-icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-description {
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -2px;
  margin: 10px 0;
}

.details {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
}
.details div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.details .header {
  font-size: 20px;
  font-weight: 700;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.parameter-label {
  text-align: left;
  font-weight: 200;
  font-size: 16px;
  min-width: 80px;
}

.parameter-value {
  text-align: right;
  font-size: 16px;
  min-width: 80px;
  color: #d5ebdb;
}

.animation-div {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #399ee6;
  animation: fill-width 2s ease-in-out forwards;
}
@keyframes fill-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.parent-second-first-container {
  display: flex;
}

@media screen and (max-width: 1025px) {
  .details {
    width: 80%;
  }
}
@media screen and (max-width: 769px) {
  .weather {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
  }
  .first-container,
  .last-container {
    display: flex;
    justify-content: center;
  }
  .temperature {
    font-size: 28px;
  }
  .city {
    margin: 0;
    font-size: 18px;
  }
  .weather-description {
    font-size: 16px;
    padding-top: 2px;
  }
  .weather-icon-container {
    margin-top: 0;
  }
  .weather-icon {
    width: 80px;
  }
  .details {
    padding: 0 15px;
  }
  .parameter-label.header {
    font-size: 16px;
  }
  .parameter-label,
  .parameter-value {
    font-size: 14px;
  }
}
